<nav aria-label="breadcrumb" class="dl-breadcrumbs container-lg">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="https://specialcollections.library.nyu.edu/search">NYU Special Collections Search Portal</a></li>
    <li class="breadcrumb-item"><a href="https://specialcollections.library.nyu.edu/search/?f%5Brepository_sim%5D%5B%5D=tamwag">Tamiment Library and Robert F. Wagner Labor Archives</a></li>
    <li class="breadcrumb-item"><a href="#">Megan O'Shea's One Resource to Rule Them All</a></li>
    <li class="breadcrumb-item"><a href="#">View Images</a></li>
    <li class="breadcrumb-item active">{{object.label}}</li>
  </ol>
</nav>
